

.applied {
  font-family: "Noto Sans", sans-serif;
  background-color: tomato;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
}

.new {
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(246, 255, 170);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;

}
.m-headers{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
  text-align: center;
  padding-bottom: 5%;

}

.m-box{
  font-family: "Noto Sans", sans-serif;
  background-color: rgb(246, 255, 170);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  

}



